notebook
nbconvert
pytest
pandas
numpy
ipykernel
ipython-sql
python-dotenv
psycopg2
sqlalchemy
# This might resolve the extension load issue:
# Unable to load extension: pydevd_plugins.extensions.types.pydevd_plugin_pandas_types
#magicgui==0.3.7